.advantages {
  padding: 50px 20px 60px;
}

.advantages__subtitle {
  margin: 0 0 4px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__title {
  margin: 0 0 36px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  padding: 66px 0 0;
  text-align: center;
  background-position: top;
  background-repeat: no-repeat;

  &--time {
    background-image: url("../img/time.svg");
  }

  &--shield {
    background-image: url("../img/shield.svg");
  }

  &--lightning {
    background-image: url("../img/lightning.svg");
  }

  &--ecology {
    background-image: url("../img/ecology.svg");
  }
}

.advantages__small-title {
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.advantages__description {
  font-size: 14px;
  line-height: 20px;
}
