.catalog {
  padding: 50px 20px 44px;
  background-color: #f8f8f8;
}

.catalog__subtitle {
  margin: 0 0 4px;
  text-align: center;
  text-transform: uppercase;
}

.catalog__title {
  margin: 0 0 20px;
}
