.developer {
  display: flex;
  padding: 20px 57px 30px;
}

.developer__text {
  margin-right: 3px;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
}

.developer__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  color: #bdbdbd;
  text-decoration: none;
}

.developer__image {
  margin-left: 4px;
}

