.main-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 20px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 20px 0 0;
  }
}

.main-header__logo {
  margin-right: auto;
  padding: 8px 0;

  @media (min-width: @tablet-width) {
    margin-right: 67px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    min-width: 316px;
    margin-right: 0;
  }
}
