.main-header {
  display: flex;
  align-items: center;
  padding: 5px 20px 0 0;
}

.main-header__logo {
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin-right: 67px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    min-width: 316px;
    margin-right: 0;
  }
}
