.new-products {
  padding: 20px 20px 60px;
  background-color: #f3ebe2;

  @media (min-width: @tablet-width) {
    padding: 59px 80px 60px;
    position: relative;
    min-height: 828px;
    background-image: linear-gradient(#f3ebe1 75%, #ffffff 75% 100%);
  }

  @media (min-width: @desktop-width) {
    min-height: 714px;
    background-image: none;
  }
}

.new-products__container {
  @media (min-width: @desktop-width) {
    position: relative;
    width: 1360px;
    margin: 0 auto;
  }
}

.new-products__card {
  &:nth-child(2), &:nth-child(3) {
    display: none;
  }
}

.new-products__image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    bottom: 0;
    width: 476px;
    height: 476px;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
    height: 600px;
    left: 350px;
    bottom: -155px;
  }
}

.new-products__card-container {
  @media (min-width: @desktop-width) {
    width: 625px;
    margin: 180px 0 0 680px;
  }
}

.new-products__subtitle {
  margin: 0 0 4px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.new-products__title {
  margin: 0 0 10px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  @media (min-width: @tablet-width) {
    margin: 0 0 16px 4px;
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 0.02em;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.new-products__description {
  width: 280px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 608px;
    font-size: 20px;
    line-height: 32px;

    @media (min-width: @desktop-width) {
      margin: 0 auto 40px;
      text-align: start;
    }
  }
}

.new-products__description br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.new-products__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: start;
    padding: 0;
  }
}

.new-products__price-wrapper {
  display: inline-block;
  width: 97px;
  margin-right: 20px;
}

.new-products__old-price {
  line-height: 32px;
  text-decoration-line: line-through;
  color: @base-primary-color;
}

.new-products__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

