.range-slider {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 220px;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
  }
}

.range-slider__controls {
  display: flex;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.range-slider__range-bar {
  position: relative;

  &--violet {
    width: 85%;
    height: 4px;
    background-color: @base-primary-color;

    @media (min-width: @tablet-width) {
      width: 80%;
    }

    @media (min-width: @desktop-width) {
      width: 86%;
    }
  }

  &--gray {
    width: 15%;
    height: 2px;
    background-color: #e2e2e2;

    @media (min-width: @tablet-width) {
      width: 20%;
    }

    @media (min-width: @desktop-width) {
      width: 14%;
    }
  }
}

.range-slider__control-item {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #9070ec;
  background-color: #ffffff;
  position: absolute;
  bottom: -11px;
}

.range-slider__price-max {
  color: @base-black-color;
}

.range-slider__inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider__price-input {
  width: 118px;
  padding: 6px 10px;
  text-align: center;
  border: 2px solid #9070ec;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;

  &--min {
    color: #bdbdbd;
  }

  &--max {
    color: @base-black-color;
  }

  @media (min-width: @tablet-width) {
    width: 93px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
  }
}

.range-slider__price-divider {
  width: 9px;
  height: 2px;
  background-color: #bdbdbd;
}
