.user-menu {
  list-style-type: none;
}

.user-menu__link {
  width: 60px;
  height: 60px;
  display: block;

  &--user,
  &--basket {
    background-repeat: no-repeat;
    background-position: center;
  }

  &--user {
    background-image: url("../img/user.svg");
  }

  &--basket {
    background-image: url("../img/basket.svg");
  }
}
